<!DOCTYPE html>
<html lang="zxx">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <!-- Include the header partial -->
        <%- include('../partials/header') %>
    </header>

    <%- include('../partials/hero') %>


        <!-- Include the footer partial -->
        <%- include('../partials/footer') %>

    <%- include('../partials/jsPlugins') %>
</body>

</html>
